/*Alpha X Software Company*/
/*Mindula Dilthushan*/
/*Ax-C v1.0.0*/
/*21-07-14*/
html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.MainHeader {
    width: 100vw;
    display: flex;
    height: 100vh;
    background-color: rgba(209, 204, 192, 0.39);
}

/*----------------------------Left Pane----------------------------*/
.LeftPane {
    width: 50%;
    height: 100vh;
    /*background-color: #00ffb0;*/
}
.leftMiniPane {
    width: 500px;
    height: 500px;
    margin-top: 120px;
    margin-left: 268px;
}
.Logo {
    width: 150px;
    height: 150px;
    margin-left: 165px;
    margin-top: 20px;
}
.inputUserName {
    border-radius: 10px;
    border: 2px solid #1dd1a1;
    outline: transparent;
    background-color: transparent;
    padding: 10px 10px;
    width: 60%;
    margin-top: 10px;
    margin-left: 100px;
}
.inputChatId {
    border-radius: 10px;
    border: 2px solid #1dd1a1;
    outline: transparent;
    background-color: transparent;
    padding: 10px 10px;
    width: 60%;
    margin-top: 20px;
    margin-left: 100px;
}
.button {
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #1dd1a1;
    background-color: transparent;
    padding: 5px;
    margin-top: 40px;
    border-radius: 20px;
    width: 50%;
    margin-left: 130px;
    height: 40px;
    color: #1dd1a1;
    cursor: pointer;
}
.button:hover {
    background-color: #1dd1a1;
    border-color: transparent;
    color: white;
    cursor: pointer;
}

/*----------------------------Right Pane----------------------------*/
.RightPane {
    width: 50%;
    height: 100vh;
    /*background-color: #00ff66;*/
}
.rightMiniPane {
    width: 500px;
    height: 500px;
    margin-top: 120px;
    margin-right: 260px;
}
.LoginImage {
    width: 500px;
    height: 440px;
    margin-top: 12px;
}
